@keyframes closingRectangle {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  50% {
    clip-path: polygon(15% 30%, 90% 20%, 90% 65%, 15% 60%); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-50rem); }
  90% {
    opacity: 0.9;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font: oblique bold 120% cursive;
  font-weight: 400;
  line-height: 1.7; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font: oblique bold 120% cursive;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #eee; }

.heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #b030b0, #602080);
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading {
      font-size: 2.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.header {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.events__heading {
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(223, 37, 198, 0.9), white);
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  transform: translate(-9rem, -1rem);
  font-size: 1.4rem;
  letter-spacing: 1.2rem;
  transition: all .2s; }
  @media only screen and (min-width: 112.5em) {
    .events__heading {
      transform: translate(-8.5rem, -1.3rem); } }
  @media only screen and (max-width: 56.25em) {
    .events__heading {
      font-size: 1.5rem;
      transform: translate(-9rem, -1rem); } }
  @media only screen and (max-width: 37.5em) {
    .events__heading {
      font-size: 1.2rem;
      transform: translate(-8rem, -1.5rem); } }

.popup__events--headings {
  position: absolute;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(223, 37, 198, 0.9), #00b4c9);
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  transform: translateX(1rem);
  font-size: 1.4rem;
  letter-spacing: 1.2rem; }

.popup__events--text {
  color: #000;
  font-family: "Bellerose";
  font-size: 1.3rem;
  text-align: left;
  margin-left: 1.5rem;
  text-shadow: 1rem 0rem 1rem #f6fa00; }

@font-face {
  .popup__events--text {
    font-family: "Bellerose";
    src: "fonts/Bellerose.ttf"; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top {
  margin-top: 8rem !important; }

.u-margin-huge {
  margin-top: 10rem !important; }

.arrows {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 90%;
  left: 50%; }

.booking {
  height: 60rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; }
  @media only screen and (max-width: 75em) {
    .booking {
      border: 1px solid grey;
      height: 85rem;
      padding-top: 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .booking {
      padding-top: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .booking {
      height: 95rem; } }
  .booking__image {
    height: 60rem;
    width: 40%;
    background-image: url("../../img/mando2.jpg");
    background-position: 75%;
    background-size: cover;
    clip-path: ellipse(80% 80% at 2% 50%);
    position: absolute;
    opacity: 80%; }
    @media only screen and (max-width: 75em) {
      .booking__image {
        width: 0; } }
  .booking__form {
    width: 60%;
    height: inherit;
    background-color: transparent;
    position: relative;
    float: right;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: right;
    margin-top: 5rem; }
    @media only screen and (max-width: 75em) {
      .booking__form {
        padding: 0;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; } }
    .booking__form p {
      background-image: linear-gradient(to right, #f9376b 20%, orange);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 2.5rem;
      text-align: left; }
      @media only screen and (max-width: 75em) {
        .booking__form p {
          position: relative;
          text-align: center;
          left: 50%;
          transform: translate(-50%, 0);
          font-size: 4rem;
          font-weight: 900;
          margin-bottom: 2.5rem;
          margin-top: 2.5rem; } }
      @media only screen and (max-width: 56.25em) {
        .booking__form p {
          margin-top: 5rem;
          font-size: 3.5rem;
          margin-bottom: 5rem;
          font-weight: 900; } }
    .booking__form-group {
      padding-right: 55%;
      position: relative;
      text-align: right;
      left: 50%;
      transform: translate(-50%, 0); }
      @media only screen and (max-width: 75em) {
        .booking__form-group {
          font-size: 3.5rem;
          padding-right: 25%;
          margin-bottom: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .booking__form-group {
          padding-right: 15%;
          font-size: 3rem;
          margin-bottom: 5rem; } }
      .booking__form-group__input {
        border-bottom: 5px solid transparent; }
        @media only screen and (max-width: 56.25em) {
          .booking__form-group__input {
            font-size: 3rem; } }
        .booking__form-group__input:focus {
          outline: none;
          border-bottom: 5px solid orange;
          box-shadow: rgba(176, 48, 176, 0.56) 0px 22px 70px 4px; }
      .booking__form-group--radio {
        padding-left: 10%;
        text-align: left; }
        .booking__form-group--radio__input {
          display: none; }
        .booking__form-group--radio__label {
          cursor: pointer; }
        .booking__form-group--radio-check {
          height: 3rem;
          width: 3rem;
          border-radius: 5px;
          background-image: url(../../img/check.png);
          background-position-y: center;
          background-size: cover;
          display: inline-block;
          left: 0;
          top: -0.4rem; }
          .booking__form-group--radio-check::after {
            content: "";
            background-position-y: center;
            background-size: cover;
            display: block;
            height: 3rem;
            width: 3rem;
            background-image: url(../../img/checked.png);
            opacity: 0;
            transition: opacity 0.2s; }
        .booking__form-group--radio__input:checked ~ .booking__form-group--radio__label .booking__form-group--radio-check::after {
          opacity: 1; }
        @media only screen and (max-width: 75em) {
          .booking__form-group--radio {
            padding-left: 45%;
            position: relative;
            text-align: left;
            left: 50%;
            transform: translate(-50%, 0); } }
        @media only screen and (max-width: 56.25em) {
          .booking__form-group--radio {
            font-size: 3rem; } }
    .booking__form__input--submit {
      position: absolute;
      left: 10rem; }
      @media only screen and (max-width: 75em) {
        .booking__form__input--submit {
          width: fit-content;
          padding-left: 40%;
          position: absolute;
          width: fit-content;
          left: 45%;
          padding: 1rem 1.5rem;
          font-size: 3rem;
          margin-top: 3rem; } }
      @media only screen and (max-width: 56.25em) {
        .booking__form__input--submit {
          right: 50%; } }

.btn__main {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  border: 0.3rem solid #b030b0;
  border-radius: 1.5rem;
  cursor: pointer;
  animation-name: moveDown;
  animation-duration: 2s;
  transition: all 0.2s; }
  .btn__main:hover {
    color: #b030b0;
    border: 0.3rem solid #fff;
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 2rem #602080; }
  .btn__main:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 2rem #b030b0; }

.btn__room-box, .btn__room-box:link, .btn__room-box:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none; }
  @media only screen and (max-width: 75em) {
    .btn__room-box, .btn__room-box:link, .btn__room-box:visited {
      font-size: 1.4rem; } }
  .btn__room-box:hover, .btn__room-box:link:hover, .btn__room-box:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn__room-box:hover::after, .btn__room-box:link:hover::after, .btn__room-box:visited:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn__room-box:active, .btn__room-box:focus, .btn__room-box:link:active, .btn__room-box:link:focus, .btn__room-box:visited:active, .btn__room-box:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }

.btn__room-box--1 {
  background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.85), rgba(119, 119, 119, 0.85));
  color: #fff; }
  .btn__room-box--1::after {
    background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.85), rgba(119, 119, 119, 0.85)); }

.btn__room-box--2 {
  background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85));
  color: #fff; }
  .btn__room-box--2::after {
    background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85)); }

.btn__room-box--3 {
  background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85));
  color: #fff; }
  .btn__room-box--3::after {
    background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85)); }

.btn__room-box--4 {
  background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85));
  color: #fff; }
  .btn__room-box--4::after {
    background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85)); }

.btn__room-box::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn__events {
  position: relative;
  margin: 0 auto;
  width: 100vh;
  height: 50vh; }
  .btn__events--btn {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 20%;
    border-radius: 5rem;
    top: 65%;
    left: -35%; }
    @media only screen and (min-width: 112.5em) {
      .btn__events--btn {
        left: -24%; } }
    @media only screen and (max-width: 75em) {
      .btn__events--btn {
        left: -22%; } }
    @media only screen and (max-width: 56.25em) {
      .btn__events--btn {
        top: 65%;
        left: -17%; } }
    @media only screen and (max-width: 37.5em) {
      .btn__events--btn {
        top: 47%;
        left: -34%; } }
    .btn__events--btn-link, .btn__events--btn-link:link, .btn__events--btn-link:visited {
      background-color: #C50000;
      clip-path: circle(30%);
      border-radius: 5rem;
      width: 100%;
      height: 100%;
      transform: translate(-27.5%, -6%);
      padding: 0.5rem 4rem;
      display: inline-block;
      transition: all 0.5s;
      position: relative;
      border: none;
      cursor: pointer;
      outline: none; }
    .btn__events--btn-link:hover, .btn__events--btn-link:active, .btn__events--btn-link:focus {
      transform: translate(-28%, -15%);
      background-color: #26B200; }

.btn__tournaments {
  width: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-weight: 900;
  background: linear-gradient(to left, #b030b0, #602080);
  color: white; }
  .btn__tournaments:hover {
    transform: translate(-50%, -2px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }
  @media only screen and (max-width: 75em) {
    .btn__tournaments {
      font-size: 3.5rem;
      padding: 1rem 3rem;
      opacity: 90%;
      margin-top: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn__tournaments {
      font-size: 3rem;
      margin-top: 0; } }

.mainheader-booking {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  text-align: center; }
  .mainheader-booking__date {
    display: inline-block;
    font-size: 2rem;
    border: none;
    border-bottom: 0.1rem solid #fff;
    background: none;
    margin-right: 2rem;
    padding: 0.5rem;
    width: 19rem;
    outline: none;
    color: #fff;
    transition: 250ms width ease, 250ms border-color ease;
    cursor: pointer;
    animation-name: moveDown;
    animation-duration: 2s; }
    .mainheader-booking__date:hover {
      width: 21rem; }
    .mainheader-booking__date:focus {
      width: 23rem;
      border-color: #b030b0; }
  .mainheader-booking input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/background-big.jpg);
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    .parallax {
      background-image: url(/img/background.jpg); } }
  @media only screen and (max-width: 56.25em) {
    .parallax {
      background-image: url(/img/background-small.jpg); } }
  .parallax__section {
    opacity: 0.75; }
  .parallax__header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  .parallax__text {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    z-index: 1; }
    .popup__close:link, .popup__close:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all0 0.2s;
      line-height: 1; }
    .popup__close:hover {
      color: #eee; }
  .popup__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        padding: 1rem 3rem; } }
  .popup__right {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        padding: 1rem 3rem; } }
  .popup__img {
    display: block;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: 0.5s; }
    .popup__img:hover {
      transform: scale(1.2); }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1;
        column-gap: 2rem;
        font-size: 1rem; } }
  .popup__events {
    transition: all 1s;
    position: relative;
    margin: 0 auto; }
    .popup__events--gaming {
      margin-bottom: -1.5rem;
      width: 100%;
      height: 25vh;
      background-size: cover;
      background-position: right;
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url("../img/gaming.jpg"); }
    .popup__events--celebrations {
      margin-bottom: -1.5rem;
      width: 100%;
      height: 25vh;
      background-size: cover;
      background-position: right;
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url("../img/celebrations.jpg"); }
    .popup__events--wedding {
      margin-bottom: -1.5rem;
      width: 100%;
      height: 25vh;
      background-size: cover;
      background-position: right;
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url("../img/wedding.jpg"); }
    .popup__events--meetings {
      margin-bottom: -1.5rem;
      width: 100%;
      height: 25vh;
      background-size: cover;
      background-position: right;
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url("../img/meetings.jpg"); }
    .popup__events--headings-bg {
      width: inherit;
      height: 3vh;
      background-color: rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 75em) {
        .popup__events--headings-bg {
          width: 35%; } }
      @media only screen and (max-width: 56.25em) {
        .popup__events--headings-bg {
          width: 58%; } }
      @media only screen and (max-width: 37.5em) {
        .popup__events--headings-bg {
          width: 72%; } }

.room-box {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .room-box {
      height: auto; } }
  .room-box--1:hover {
    box-shadow: 0 2.5rem 4rem rgba(119, 119, 119, 0.5); }
  .room-box--2:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 112, 126, 0.5); }
  .room-box--3:hover {
    box-shadow: 0 2.5rem 4rem rgba(24, 112, 0, 0.5); }
  .room-box--4:hover {
    box-shadow: 0 2.5rem 4rem rgba(135, 0, 0, 0.5); }
  .room-box__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .room-box__picture--1 {
      background-image: linear-gradient(to right bottom, #eee, #777), url(../../img/whr.jpg); }
    .room-box__picture--2 {
      background-image: linear-gradient(to right bottom, #00B4C9, #00707E), url(../../img/blr2.jpg); }
    .room-box__picture--3 {
      background-image: linear-gradient(to right bottom, #26B200, #187000), url(../../img/grlr.jpg); }
    .room-box__picture--4 {
      background-image: linear-gradient(to right bottom, #C50000, #870000), url(../../img/redlr2.jpg); }
  .room-box__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .room-box__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .room-box__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(238, 238, 238, 0.85), rgba(119, 119, 119, 0.85)); }
    .room-box__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(0, 180, 201, 0.85), rgba(0, 112, 126, 0.85)); }
    .room-box__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(38, 178, 0, 0.85), rgba(24, 112, 0, 0.85)); }
    .room-box__heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(197, 0, 0, 0.85), rgba(135, 0, 0, 0.85)); }
  .room-box__text {
    padding: 1rem; }
    .room-box__text ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .room-box__text ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .room-box__text ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .room-box__button {
    text-align: center;
    padding-bottom: 3rem; }

.tournament-ad {
  margin-top: 40%;
  margin-bottom: 20%;
  height: 60%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  position: relative;
  transition: transform .5s; }
  @media only screen and (max-width: 75em) {
    .tournament-ad {
      height: 60rem;
      margin: 2rem auto; } }
  .tournament-ad__image {
    height: 35rem;
    border-radius: 5px;
    overflow: hidden;
    z-index: -10; }
    @media only screen and (max-width: 75em) {
      .tournament-ad__image {
        height: 60rem; } }
  .tournament-ad__1 {
    background-image: url("../../img/lol.jpg");
    background-size: cover;
    background-position: 50% 50%; }
  .tournament-ad__2 {
    background-image: url("../../img/fortnite.png");
    background-size: cover;
    background-position: 50% 50%; }
  .tournament-ad__3 {
    background-image: url("../../img/apex.jpg");
    background-size: cover;
    background-position: 50% 50%; }
  .tournament-ad__4 {
    background-image: url("../../img/hearthstone.jpg");
    background-size: cover;
    background-position: 50% 50%; }
  .tournament-ad__info {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 35rem;
    z-index: -20;
    transition: background-color 1s; }
    @media only screen and (max-width: 75em) {
      .tournament-ad__info {
        height: 60rem;
        visibility: visible;
        color: white;
        background: linear-gradient(120deg, rgba(206, 202, 202, 0.8) 50%, transparent);
        opacity: 100%;
        font-size: medium;
        z-index: 50; } }
    .tournament-ad__info--heading {
      margin: 0 0 auto auto;
      padding: 1rem;
      width: fit-content;
      letter-spacing: 0.1rem;
      min-width: 90%;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.9rem;
      background: linear-gradient(to right, #602080, #b030b0);
      color: white;
      opacity: 100%; }
      @media only screen and (max-width: 75em) {
        .tournament-ad__info--heading {
          padding: 1rem;
          font-size: 3.5rem;
          opacity: 80%; } }
      @media only screen and (max-width: 56.25em) {
        .tournament-ad__info--heading {
          padding: 3rem;
          font-size: 3rem; } }
    .tournament-ad__info--text {
      text-align: center;
      padding: 3rem;
      font-size: 3.5rem;
      color: black; }
      @media only screen and (max-width: 75em) {
        .tournament-ad__info--text {
          letter-spacing: 0.2rem; } }
  .tournament-ad__info hr {
    width: 50%;
    margin: 0 auto; }
  .tournament-ad:hover {
    transform: translateY(-1rem); }
  .tournament-ad:hover .tournament-ad__image {
    filter: blur(8px); }
  .tournament-ad:hover .tournament-ad__info {
    visibility: visible;
    color: black;
    background-color: white;
    opacity: 70%;
    font-size: medium;
    z-index: 50; }
    @media only screen and (max-width: 75em) {
      .tournament-ad:hover .tournament-ad__info {
        opacity: 90%; } }
    .tournament-ad:hover .tournament-ad__info--text {
      text-align: center;
      letter-spacing: 0.2rem;
      font-size: 2rem;
      padding: 2rem;
      color: black; }
      @media only screen and (max-width: 75em) {
        .tournament-ad:hover .tournament-ad__info--text {
          padding: 3rem;
          font-size: 3.5rem; } }

.burger__checkbox {
  display: none; }

.burger__button {
  color: #b030b0;
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.burger__background {
  height: 100%;
  width: 25rem;
  position: fixed;
  right: -25rem;
  background-color: #3b003b;
  z-index: 1500;
  transition: all 0.8s; }

.burger__darken {
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #0000004d;
  z-index: 1000;
  opacity: 0;
  transition: all 0.8s; }

.burger__nav {
  height: 100%;
  width: 25rem;
  position: fixed;
  right: -1000rem;
  z-index: 1700;
  width: 100%;
  transition: all 0.8s; }

.burger__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin-left: 3rem;
  width: 100%; }

.burger__item {
  margin: 1rem; }

.burger__link {
  font-size: 2rem;
  color: #fff;
  text-decoration: none; }

.burger__checkbox:checked ~ .burger__background {
  right: 0; }
  @media only screen and (max-width: 37.5em) {
    .burger__checkbox:checked ~ .burger__background {
      width: 100%; } }

.burger__checkbox:checked ~ .burger__nav {
  opacity: 1;
  width: 25rem;
  right: 0; }
  @media only screen and (max-width: 37.5em) {
    .burger__checkbox:checked ~ .burger__nav {
      width: 45rem; } }

.burger__checkbox:checked ~ .burger__darken {
  width: 100%;
  opacity: 1; }

.burger__icon {
  position: relative;
  margin-top: 3.5rem; }
  .burger__icon, .burger__icon::before, .burger__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #b030b0;
    display: inline-block; }
  .burger__icon::before, .burger__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .burger__icon::before {
    top: -0.8rem; }
  .burger__icon::after {
    top: 0.8rem; }

.burger__button:hover .burger__icon::before {
  top: -1rem; }

.burger__button:hover .burger__icon::after {
  top: 1rem; }

.burger__checkbox:checked + .burger__button .burger__icon {
  background-color: transparent; }

.burger__checkbox:checked + .burger__button .burger__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #fff; }

.burger__checkbox:checked + .burger__button .burger__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #fff; }

.darken {
  width: 100%;
  height: 100vh;
  transition: all 0.5s; }

.navegation:hover ~ .darken {
  width: 100%;
  height: 100vh;
  background-color: #0000004d; }

.mainheader-titlebox:hover ~ .darken {
  width: 100%;
  height: 100vh;
  background-color: #0000004d; }

.mainheader-booking:hover ~ .darken {
  width: 100%;
  height: 100vh;
  background-color: #0000004d; }

.footer {
  background-color: #000;
  padding: 5rem 0rem;
  font-size: 1.2rem;
  color: #fff; }
  .footer__logo {
    text-align: center;
    margin-bottom: 5rem; }
  .footer__img {
    width: 15rem;
    height: auto; }
  .footer__info {
    border-top: 2px solid #fff;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__info {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__element {
    display: inline-block; }
    .footer__element:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s; }
  .footer__link:hover, .footer__link:active {
    color: #777;
    transform: scale(1.2); }
  .footer__text {
    border-top: 2px solid #fff;
    padding-top: 2rem;
    width: 65%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__text {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    .row.section-tournaments-grid {
      max-width: 100rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row.section-tournaments-grid {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem); }
  .row .col-1-of-2 {
    width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem); }
  .row .col-1-of-3 {
    width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem); }
  .row .col-1-of-4 {
    width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem); }
  .row .col-1-of-5 {
    width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 75em) {
      .row [class^="col-"].section-tournaments-grid {
        margin-bottom: 6rem;
        width: 46.5% !important; }
        .row [class^="col-"].section-tournaments-grid:nth-child(even) {
          margin-right: 0 !important; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"].section-tournaments-grid {
        width: 100% !important; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }

.navegation {
  position: absolute;
  width: 100%;
  height: 8rem;
  animation-name: moveDown;
  animation-duration: 2s; }
  @media only screen and (max-width: 56.25em) {
    .navegation {
      display: none; } }
  .navegation-logo {
    height: 7rem;
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 5rem;
    float: left; }
  .navegation-menu {
    float: left;
    font-size: 25px;
    font-weight: bold;
    width: auto;
    height: auto;
    margin-left: 4rem;
    margin-top: 4rem;
    list-style: none; }
  .navegation-menu:hover {
    cursor: pointer; }
  .navegation-menu a {
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s; }
  .navegation-menu a:hover {
    background-size: 100% 2px;
    color: #b030b0; }

.mainheader {
  height: 100vh;
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .mainheader:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000066; }
  .mainheader-titlebox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40.8rem;
    text-align: center; }
  .mainheader-title {
    color: #fff;
    text-transform: capitalize;
    animation-name: moveDown;
    animation-duration: 2s;
    transition: transform 0.5s; }
    .mainheader-title__main {
      display: block;
      font-size: 6rem;
      font-weight: 700; }
    .mainheader-title__secondary {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.4rem; }
    .mainheader-title:hover {
      transform: scale(1.1); }

.section-rooms {
  background-color: #eee;
  padding: 15rem 0 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-rooms {
      padding: 10rem 0 10rem 0; } }

.section-events {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: fit-content;
  padding: 10rem;
  text-align: center;
  transition: all .2s;
  border-radius: 5rem;
  transform: translateX(15%); }
  .section-events--hover {
    position: absolute;
    margin: 0 auto;
    width: 100vh;
    height: 50vh;
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.7), rgba(0, 180, 201, 0.7)), url("../img/levelup.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all .2s;
    border-radius: 5rem;
    z-index: 1; }
    @media only screen and (min-width: 112.5em) {
      .section-events--hover {
        transform: translateX(-5%); } }
    @media only screen and (max-width: 75em) {
      .section-events--hover {
        transform: translateX(0%); } }
    @media only screen and (max-width: 56.25em) {
      .section-events--hover {
        transform: translateX(-10%); } }
    @media only screen and (max-width: 37.5em) {
      .section-events--hover {
        width: 40%;
        height: 50%;
        transform: translateX(-20%); } }
    .section-events--hover:hover {
      animation: closingRectangle 3s ease-in-out; }
      .section-events--hover:hover .btn__events {
        opacity: 0; }

.section-tournaments {
  font-family: Lato;
  height: 60rem;
  background-color: #fff;
  clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);
  padding-top: 6.5rem; }
  @media only screen and (max-width: 75em) {
    .section-tournaments {
      padding-top: 16rem;
      padding-bottom: 10rem;
      height: fit-content;
      clip-path: polygon(0 0, 50% 2%, 100% 0, 100% 100%, 50% 102%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .section-tournaments {
      clip-path: polygon(0 0, 50% 1%, 100% 0, 100% 100%, 50% 101%, 0 100%); } }

.section-booking {
  margin-top: 5rem;
  font-family: Lato;
  width: 60%;
  margin: 0 auto;
  background-color: #5c5b5b;
  opacity: 80%;
  border-radius: 10px; }
  @media only screen and (max-width: 75em) {
    .section-booking {
      width: 100%;
      border-radius: 0;
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .section-booking {
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%); } }
