//Colours
$color-purple-dark-2: rgb(59, 0, 59);
$color-purple-dark: #602080;
$color-purple-light: #b030b0;
$color-pink-light: rgb(223, 37, 198);

$color-yellow: #f6fa00;

$color-red-light: #C50000;
$color-red: red;
$color-red-dark: #870000;

$color-blue-light: #00B4C9;
$color-blue-dark: #00707E;

$color-green-light: #26B200;
$color-green-dark: #187000;

$color-grey-light: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-2: #00000066;
$color-black-3:#0000004d;

//Font
$default-font-size: 1.6rem;

//Grid
$cols: 5;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$events-width: 100vh;
$events-height: 50vh;

$add-height: false;