//Font
$default-font-size: 1.6rem;

//Colors
$white: #fff;
$grey-dark: #777;
$black: #000;
$yellow: yellow;
$red: red;

$upgrade-pink: rgb(223, 37, 198);

$events-blue: rgb(7, 163, 190);
$events-btn-checked: rgba(189, 255, 102, 0.521);
$events-btn-notChecked: rgb(253, 78, 78);
$events-btn-lightNotChecked: rgb(255, 108, 108);

//Grid
$default-width: 100vh;
$default-height: 50vh;
