@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/arrows";
@import "components/booking";
@import "components/button";
@import "components/mainheader-booking";
@import "components/parallax";
@import "components/popup";
@import "components/room-box";
@import "components/tournament-ad";

@import "layout/burger";
@import "layout/darken";
@import "layout/footer";
@import "layout/grid";
@import "layout/navegation";

@import "pages/home";