.burger {
    &__checkbox {
        display: none;
    }

    &__button {
        color: $color-rosa;
        background-color: transparent;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 100%;
        width: 25rem;
        position: fixed;
        right: -25rem;
        background-color: $color-morado;
        z-index: 1500;
        transition: all 0.8s;
    }
    &__oscurecer {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: $color-negroA2;
        z-index: 1000;
        opacity: 0;
        transition: all 0.8s;
    }

    &__nav {
        height: 100%;
        width: 25rem;
        position: fixed;
        right: -1000rem;
        z-index: 1700;
        width: 100%; //fix the problem
        transition: all 0.8s;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        margin-left: 3rem;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link { /**/       
        font-size: 2rem;
        color: $color-blanco;
        text-decoration: none;

    }
    &__checkbox:checked~&__background {
        right: 0;
    }
    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 25rem;
        right: 0;
    }
    &__checkbox:checked~&__oscurecer {
        width: 100%;
        opacity: 1;
    }
&__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-rosa;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;

    }
    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
        background-color: $color-blanco;
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background-color: $color-blanco;
    }
}
