.darken{
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}

.navegation:hover ~ .darken{
    width: 100%;
    height: 100vh;
    background-color: $color-black-3;
}
.mainheader-titlebox:hover ~ .darken{
    width: 100%;
    height: 100vh;
    background-color: $color-black-3;
}
.mainheader-booking:hover ~ .darken{
    width: 100%;
    height: 100vh;
    background-color: $color-black-3;
}