.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 2rem rgba($color-black, .2);
        }
    }

    &--1 {
        background-image: linear-gradient(to right bottom, rgba($color-1-light, .85), rgba($color-1-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-1-light, .85), rgba($color-1-dark, .85));
        }
    }

    &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-2-light, .85), rgba($color-2-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-2-light, .85), rgba($color-2-dark, .85));
        }
    }

    &--3 {
        background-image: linear-gradient(to right bottom, rgba($color-3-light, .85), rgba($color-3-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-3-light, .85), rgba($color-3-dark, .85));
        }
    }

    &--4 {
        background-image: linear-gradient(to right bottom, rgba($color-4-light, .85), rgba($color-4-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-4-light, .85), rgba($color-4-dark, .85));
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}

.btn-events {
    position: relative;
    margin: 0 auto;
    width: $events-width;
    height: $events-height;
    
    &--btn {
        z-index: 2;
        position: relative;
        margin: 0 auto;
        width: 7em;
        height: 7em;
        top: 68%;

        @include respond(tab-land) {
            top: 70%;
        }
        @include respond(tab-port) {
            top: 70%;
        }
        @include respond(phone) {
            top: 48%;
            left: -23%;
        }


        input[type=checkbox] + label {
            display: block;
            margin: 0.3em;
            cursor: pointer;
            padding: 0.3em;
        }
          
        input[type=checkbox] {
            display: none;
        }
          
        input[type=checkbox] + label:before {
            content: "";
            background-color: $events-btn-notChecked;
            border: 0.2em solid $events-btn-lightNotChecked;
            border-radius: 50em;
            display: inline-block;
            width: 6em;
            height: 6em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .3s;
        }
          
        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }
          
        input[type=checkbox]:checked + label:before {
            background-color: $events-btn-checked;
            border-color: $events-btn-checked;
            color: $color-white;
        }
    }

    &--content {
        display: inline-block;
        background-image: linear-gradient(to right left,
        rgba($upgrade-pink, 1),
        rgba($color-white, 1),
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &--showcontent:checked {        
        & ~ .events__content {
            animation: appearing 1s ease-in;
            opacity: 1;
            height: 100vh;
            width: 130vh;

            @include respond(tab-land) {
                width: 2000%;
                height: 1000%;
            }
            @include respond(tab-port) {
                width: 630%;
                height: 1000%;
            }
            @include respond(phone) {
                width: 500%;
                height: 800%;
            }
        }

        & ~ .events__heading > .events__heading--notChecked {
                display: none;
        }
    }
    
    &--showcontent:not(:checked) ~ .events__content {
        animation: disappearing 1s ease-out;
        opacity: 0;
        height: 0;
        width: 0;
    }
}