.boton{
    //display: inline-block;
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    color: $color-blanco;
    background-color: transparent;
    border: 0.3rem solid $color-rosa;
    border-radius: 1.5rem;
    cursor: pointer;
    animation-name: moverAbajo;
    animation-duration: 2s;
    transition: all 0.2s;

    &:hover{
        color: $color-rosa;
        border: 0.3rem solid $color-blanco;
        transform: translateY(-0.3rem);
        box-shadow: 0 0.5rem 2rem $color-rosaA;
    }
    &:active{
        transform: translateY(-0.2rem);
        box-shadow: 0 0.5rem 2rem $color-rosa;
    }
}

.btn {
    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
        outline: none;
        @include respond(tab-land){
            font-size: 1.4rem;
        }    

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 2rem rgba($color-black, .2);
        }
    }

    &--1 {
        background-image: linear-gradient(to right bottom, rgba($color-1-light, .85), rgba($color-1-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-1-light, .85), rgba($color-1-dark, .85));
        }
    }

    &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-2-light, .85), rgba($color-2-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-2-light, .85), rgba($color-2-dark, .85));
        }
    }

    &--3 {
        background-image: linear-gradient(to right bottom, rgba($color-3-light, .85), rgba($color-3-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-3-light, .85), rgba($color-3-dark, .85));
        }
    }

    &--4 {
        background-image: linear-gradient(to right bottom, rgba($color-4-light, .85), rgba($color-4-dark, .85));
        color: $color-white;

        &::after {
            background-image: linear-gradient(to right bottom, rgba($color-4-light, .85), rgba($color-4-dark, .85));
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-events {
        position: relative;
        margin: 0 auto;
        width: $events-width;
        height: $events-height;
    
        &--btn {
            z-index: 1;
            position: relative;
            margin: 0 auto;
            width: 10%;
            height: 20%;
            border-radius: 5rem;
            top: 65%;
            
            @include respond(tab-port) {
                top: 65%;
                left: -8%;
            }
            @include respond(phone) {
                top: 50%;
                left: -36%;
            }

            &-link {
                &,
                &:link,
                &:visited {
                    background-color: $events-btn-notChecked;
                    clip-path: circle(30%);
                    border-radius: 5rem;
                    width: 100%;
                    height: 100%;
                    transform: translate(-27.5%, -6%);
                    padding: 0.5rem 4rem;
                    display: inline-block;
                    transition: all 0.5s;
                    position: relative;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
                
                &:hover,
                &:active,
                &:focus {
                    transform: translate(-28%, -15%);
                    background-color: $events-btn-checked;
                }
            }
        }
    }
}