.btn{
    &__main{
        //display: inline-block;
        width: 10rem;
        height: 5rem;
        font-size: 2rem;
        color: $color-white;
        background-color: transparent;
        border: 0.3rem solid $color-purple-light;
        border-radius: 1.5rem;
        cursor: pointer;
        animation-name: moveDown;
        animation-duration: 2s;
        transition: all 0.2s;
    
        &:hover{
            color: $color-purple-light;
            border: 0.3rem solid $color-white;
            transform: translateY(-0.3rem);
            box-shadow: 0 0.5rem 2rem $color-purple-dark;
        }
        &:active{
            transform: translateY(-0.2rem);
            box-shadow: 0 0.5rem 2rem $color-purple-light;
        }
    }

    &__room-box {
        &,
        &:link,
        &:visited {
            font-size: $default-font-size;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem 4rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all .2s;
            position: relative;
            border: none;
            cursor: pointer;
            outline: none;
            @include respond(tab-land){
                font-size: 1.4rem;
            }    
    
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba($color-black, .2);
    
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }
    
            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 .5rem 2rem rgba($color-black, .2);
            }
        }
    
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-grey-light, .85), rgba($color-grey-dark, .85));
            color: $color-white;
    
            &::after {
                background-image: linear-gradient(to right bottom, rgba($color-grey-light, .85), rgba($color-grey-dark, .85));
            }
        }
    
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-blue-dark, .85));
            color: $color-white;
    
            &::after {
                background-image: linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-blue-dark, .85));
            }
        }
    
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-green-light, .85), rgba($color-green-dark, .85));
            color: $color-white;
    
            &::after {
                background-image: linear-gradient(to right bottom, rgba($color-green-light, .85), rgba($color-green-dark, .85));
            }
        }
    
        &--4 {
            background-image: linear-gradient(to right bottom, rgba($color-red-light, .85), rgba($color-red-dark, .85));
            color: $color-white;
    
            &::after {
                background-image: linear-gradient(to right bottom, rgba($color-red-light, .85), rgba($color-red-dark, .85));
            }
        }
    
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }

    &__events {
        position: relative;
        margin: 0 auto;
        width: $events-width;
        height: $events-height;
    
        &--btn {
            z-index: 1;
            position: relative;
            margin: 0 auto;
            width: 10%;
            height: 20%;
            border-radius: 5rem;
            top: 70%;
            left: -25%;

            @include respond(big-desktop) {
                left: -38%;
            }

            @include respond(tab-land) {
                left: -22%;
            }
            
            @include respond(tab-port) {
                top: 65%;
                left: -35%;
            }

            @include respond(phone) {
                top: 47%;
                left: -34%;
            }

            &-link {
                &,
                &:link,
                &:visited {
                    background-color: $color-red-light;
                    clip-path: circle(30%);
                    border-radius: 5rem;
                    width: 100%;
                    height: 100%;
                    transform: translate(-27.5%, -6%);
                    padding: 0.5rem 4rem;
                    display: inline-block;
                    transition: all 0.5s;
                    position: relative;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }
                
                &:hover,
                &:active,
                &:focus {
                    transform: translate(-28%, -15%);
                    background-color: $color-green-light;
                }
            }
        }
    }

    &__tournaments{
        width: fit-content;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 2rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2rem;
        font-weight: 900;
        background: linear-gradient(to left, $color-purple-light, $color-purple-dark);
        color: white;

        &:hover{
            transform: translate(-50%, -2px);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        @include respond(tab-land) {
            font-size: 3.5rem;
            padding: 1rem 3rem;
            opacity: 90%;
            margin-top: 2rem;
        }

        @include respond(tab-port) {
            font-size: 3rem;
            margin-top: 0;
        }
    }
}