.mainheader-registro{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    text-align: center;

    &__date{
        display: inline-block;
        font-size: 2rem;
        border: none;
        border-bottom: 0.1rem solid $color-blanco;
        background: none;
        margin-right: 2rem;
        padding: 0.5rem;
        width: 19rem;
        outline: none;
        color: $color-blanco;
        transition: 250ms width ease, 250ms border-color ease; //cambios que no sean bruscos, suavizar cambio de tamaño
        cursor: pointer;
        animation-name: moverAbajo;
        animation-duration: 2s;

        &:hover{
            width: 21rem;
        }
        &:focus{
            width: 23rem;
            border-color: $color-rosa;
        }
    }
    input[type="date"]::-webkit-calendar-picker-indicator{
        filter: invert(1);
    } 
}