.room-box{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    background-color: $color-white;

    @include respond(tab-port) {
        height: auto;
    }

    &--1{
        &:hover{
            box-shadow: 0 2.5rem 4rem rgba($color-grey-dark, .5);
        }
    }
    &--2{
        &:hover{
            box-shadow: 0 2.5rem 4rem rgba($color-blue-dark, .5);
        }
    }
    &--3{
        &:hover{
            box-shadow: 0 2.5rem 4rem rgba($color-green-dark, .5);
        }
    }
    &--4{
        &:hover{
            box-shadow: 0 2.5rem 4rem rgba($color-red-dark, .5);
        }   
    }

    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;

        &--1{
            background-image: linear-gradient(to right bottom, $color-grey-light, $color-grey-dark), url(../../img/whr.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark), url(../../img/blr2.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark), url(../../img/grlr.jpg);
        }
        &--4{
            background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark), url(../../img/redlr2.jpg);
        }
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top:12rem;
        right: 2rem;
        width: 75%;
    }
    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-grey-light, .85), rgba($color-grey-dark, .85));
        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-blue-light, .85), rgba($color-blue-dark, .85));
        }
        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-green-light, .85), rgba($color-green-dark, .85));
        }
        &--4{
            background-image: linear-gradient(to right bottom, rgba($color-red-light, .85), rgba($color-red-dark, .85));
        }
    }

    &__text{
        padding: 1rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; 

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-dark;
                }
            }
        }
    }

    &__button{
        text-align: center;
        padding-bottom: 3rem;
    }
}