.tournament-ad{
    margin-top: 40%;
    margin-bottom: 20%;
    height: 60%;
    border-radius: 5px;
    overflow: hidden; 
    z-index: 0;
    position: relative;
    transition: transform .5s;

    @include respond(tab-land) {
        height: 60rem;
        margin: 2rem auto;
    }

    &__image{
        height: 35rem;
        border-radius: 5px;
        overflow: hidden;
        z-index: -10;

        @include respond(tab-land) {
            height: 60rem;
        }
    }

    &__1{
        background-image: url("../../img/lol.jpg");
        background-size: cover;
        background-position: 50% 50%;

    }

    &__2{
        background-image: url("../../img/fortnite.png");
        background-size: cover;
        background-position: 50% 50%;
    }

    &__3{
        background-image: url("../../img/apex.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }

    &__4{
        background-image: url("../../img/hearthstone.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }

    &__info{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 35rem;
        z-index: -20;        
        transition: background-color 1s;

        @include respond(tab-land) {
            height: 60rem;
            visibility: visible;
            color: white;
            background: linear-gradient(120deg, rgba(206, 202, 202, 0.8) 50%, transparent);
            opacity: 100%;
            font-size: medium;
            z-index: 50;
        }

        &--heading{
            margin: 0 0 auto auto;
            padding: 1rem;
            width: fit-content;
            letter-spacing: 0.1rem;
            min-width: 90%;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.9rem;
            background: linear-gradient(to right, $color-purple-dark, $color-purple-light);
            color: white;
            opacity: 100%;

            @include respond(tab-land){
                padding: 1rem;
                font-size: 3.5rem;
                opacity: 80%;
            }

            @include respond(tab-port) {
                padding: 3rem;
                font-size: 3rem;
            } 
        }

        &--text{
            text-align: center;
            padding: 3rem;
            font-size: 3.5rem;
            color: black;

            @include respond(tab-land){
                letter-spacing: 0.2rem;
            }  
        }
    }

    &__info hr{
        width: 50%;
        margin: 0 auto;
    }

    &:hover{
        transform: translateY(-1rem);
    }

    &:hover &__image{
        filter: blur(8px);
    }


    &:hover &__info{
        visibility: visible;
        color: black;
        background-color: white;
        opacity: 70%;
        font-size: medium;
        z-index: 50;  
        
        @include respond(tab-land) {
            opacity: 90%;
        }

        &--text{
            text-align: center;
            letter-spacing: 0.2rem;
            font-size: 2rem;
            padding: 2rem;
            color: black;

            @include respond(tab-land) {
                padding: 3rem;
                font-size: 3.5rem;
            }
        }  
    }
}
