@keyframes closingRectangle {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    50%{
        clip-path: polygon(15% 30%, 90% 20%, 90% 65%, 15% 60%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes moveDown {
    0%{
        opacity: 0;
        transform: translateY(-50rem);
    }
    90%{
        opacity: 0.9;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}