@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes closingRectangle {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    50%{
        clip-path: polygon(15% 30%, 90% 20%, 90% 65%, 15% 60%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappearing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}