body {
    font: oblique bold 120% cursive;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: $color-grey-light;  
}

.heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-purple-light, $color-purple-dark); // background-color can not use gradients
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-secondary {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-grey-dark;
}

.header {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
}

.events__heading {
    position: absolute;
    display: inline-block;
    background-image: linear-gradient(to right,
    rgba($color-pink-light, 0.9),
    rgba($color-white, 1),
    );
    -webkit-background-clip: text;
    color: transparent;

    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    transform: translate(-9rem , -1rem);

    font-size: 1.4rem;
    letter-spacing: 1.2rem;

    @include respond(big-desktop) {
        transform: translate(-8.5rem, -1.3rem);
    }
    @include respond(tab-port) {
        font-size: 1.5rem;
        transform: translate(-9rem, -1rem);
    }
    @include respond(phone) {
        font-size: 1.2rem;
        transform: translate(-8rem , -1.5rem);
    }

    transition: all .2s;
}

.popup__events--headings {
    position: absolute;
    display: inline-block;
    background-image: linear-gradient(to right,
    rgba($color-pink-light, 0.9),
    rgba($color-blue-light, 1),
    );
    -webkit-background-clip: text;
    color: transparent;

    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    transform: translateX(1rem);

    font-size: 1.4rem;
    letter-spacing: 1.2rem;
}

.popup__events--text {
    @font-face {
        font-family: "Bellerose";
        src: "fonts/Bellerose.ttf";
    }
    color: $color-black;
    font-family: "Bellerose";
    font-size: 1.3rem;
    text-align: left;
    margin-left: 1.5rem;
    text-shadow: 1rem 0rem 1rem $color-yellow;
}