body {
    font: oblique bold 120% cursive;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: $color-grey-light;  
}
.mainheader{
    height: 100vh;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-negroA1;
    }


    &-titulocaja{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40.8rem;
        text-align: center;
    }
    &-titulo{
        color: $color-blanco;
        text-transform: capitalize;
        animation-name: moverAbajo;
        animation-duration: 2s;
        transition: transform 0.5s;

        &__principal{
            display: block;
            font-size: 6rem;
            font-weight: 700;
        
        }
        &__secunadario{
            display: block;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.4rem;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    
}

.heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-purple-light, $color-purple-dark); // background-color can not use gradients
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-secondary {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-grey-dark;
}

.header {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
}

.events__heading {
    position: absolute;
    display: inline-block;
    background-image: linear-gradient(to right,
    rgba($upgrade-pink, 0.9),
    rgba($color-white, 1),
    );
    -webkit-background-clip: text;
    color: transparent;

    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    transform: translate(-9.5rem , 0rem);

    font-size: 1.4rem;
    letter-spacing: 1.2rem;

    @include respond(tab-land) {
        font-size: 1.5rem;
        transform: translate(-8.7rem, 0rem);
    }
    @include respond(phone) {
        font-size: 1.2rem;
        transform: translate(-7.5rem , 0rem);
    }

    transition: all .2s;

    &--notChecked {
        opacity: 1;
    }
}

.events__content--headings {
    position: absolute;
    display: inline-block;
    background-image: linear-gradient(to right,
    rgba($upgrade-pink, 0.9),
    rgba($events-blue, 1),
    );
    -webkit-background-clip: text;
    color: transparent;

    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    transform: translateX(-64vh);

    font-size: 1.4rem;
    letter-spacing: 1.2rem;

    @include respond(tab-port) {
        transform: translateX(-85%);
    }
    @include respond(phone) {
        transform: translateX(-67%);
    }
}

.events__content--text {
    @font-face {
        font-family: "Bellerose";
        src: "fonts/Bellerose.ttf";
    }
    font-family: "Bellerose";
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}