.section-rooms {
    background-color: $color-grey-light;
    padding: 15rem 0 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0 10rem 0;
    }
}

.section-tournaments{
    font-family: Play;
    height: 60rem;
    background-color: $color-white;
    clip-path: polygon(0 0, 50% 5%,100% 0, 100% 100%, 0 100%);
    padding-top: 2rem;

    @include respond(tab-land) {
        padding: 10rem 0;
        height: fit-content;
        clip-path: polygon(0 0, 50% 2%,100% 0, 100% 100%, 50% 102%, 0 100%);
    }

    @include respond(tab-port) {
        padding: 4rem 0;
        clip-path: polygon(0 0, 50% 1%,100% 0, 100% 100%, 50% 101%, 0 100%);
    }

}

.section-booking{
    margin-top: 5rem;
    font-family: Play;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(92, 91, 91);
    opacity: 80%;
    border-radius: 10px;

    @include respond(tab-land){
        width: 100%;
        border-radius: 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%,0 100%);
    }

    @include respond(tab-port){
        clip-path: polygon(0 3%, 100% 0, 100% 97%,0 100%);
    }
}