.section-rooms {
    background-color: $color-grey-light;
    padding: 15rem 0 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0 10rem 0;
    }
}

.section-events {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    height: 160vh;
    text-align: center;
    transition: all .2s;
    border-radius: 5rem;

    &--hover{
        position: absolute;
        margin: 0 auto;
        width: $events-width;
        height: $events-height; 
        @include respond(phone) {
            width: 40%;
            height: 50%;
            transform: translateX(3%);
        }
        
        background-image: linear-gradient(360deg,
        rgba($color-white, 0.7),
        rgba($events-blue, 0.7)),
        url('../img/levelup.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all .2s;
        border-radius: 5rem;
        z-index: 1;
        
        &:hover{
            .btn-events{
                opacity: 0;
            }
            animation: closingRectangle 3s ease-in-out;
        } 
    }

    .events__content {
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: all 1s;
        position: relative;
        margin: 0 auto;
        transform: translate(-60vh, 20rem);

        @include respond(tab-land) {
            transform: translateY(-20%, 20%);
        }
        @include respond(tab-port) {
            transform: translate(-43%, 20%);
        }
        @include respond(phone) {
            transform: translate(-40%, 15%);
        }

        &--gaming{
            @include events-content;
            background-image: linear-gradient(to right,
            rgba($color-white, 0.9),
            rgba($color-white, 0.2),
            rgba($color-white, 0.2),
            rgba($color-white, 0.9)),
            url('../img/gaming.jpg');
        }

        &--celebrations{
            @include events-content;
            background-image: linear-gradient(to right,
            rgba($color-white, 0.9),
            rgba($color-white, 0.2),
            rgba($color-white, 0.2),
            rgba($color-white, 0.9)),
            url('../img/celebrations.jpg');
        }

        &--wedding{
            @include events-content;
            background-image: linear-gradient(to right,
            rgba($color-white, 0.9),
            rgba($color-white, 0.2),
            rgba($color-white, 0.2),
            rgba($color-white, 0.9)),
            url('../img/wedding.jpg');
        }

        &--meetings{
            @include events-content;
            background-image: linear-gradient(to right,
            rgba($color-white, 0.9),
            rgba($color-white, 0.2),
            rgba($color-white, 0.2),
            rgba($color-white, 0.9)),
            url('../img/meetings.jpg');
        }

        &--headings-bg {
            width: 30vh;
            height: 3vh;
            background-color: rgba($color-black, 0.3);

            @include respond(tab-land) {
                width: 35%;
            }
            @include respond(tab-port) {
                width: 58%;
            }
            @include respond(phone) {
                width: 72%;
            }
        }
    }
}

.section-tournaments{
    font-family: Play;
    height: 60rem;
    background-color: $color-white;
    clip-path: polygon(0 0, 50% 5%,100% 0, 100% 100%, 0 100%);
    padding-top: 2rem;

    @include respond(tab-land) {
        padding: 10rem 0;
        height: fit-content;
        clip-path: polygon(0 0, 50% 2%,100% 0, 100% 100%, 50% 102%, 0 100%);
    }

    @include respond(tab-port) {
        padding: 4rem 0;
        clip-path: polygon(0 0, 50% 1%,100% 0, 100% 100%, 50% 101%, 0 100%);
    }

}

.section-booking{
    margin-top: 5rem;
    font-family: Play;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(92, 91, 91);
    opacity: 80%;
    border-radius: 10px;

    @include respond(tab-land){
        width: 100%;
        border-radius: 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%,0 100%);
    }

    @include respond(tab-port){
        clip-path: polygon(0 3%, 100% 0, 100% 97%,0 100%);
    }
}