.mainheader{
    height: 100vh;
    background-image: url('../img/portada.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-black-2;
    }

    &-titlebox{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40.8rem;
        text-align: center;
    }

    &-title{
        color: $color-white;
        text-transform: capitalize;
        animation-name: moveDown;
        animation-duration: 2s;
        transition: transform 0.5s;

        &__main{
            display: block;
            font-size: 6rem;
            font-weight: 700;
        
        }

        &__secondary{
            display: block;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.4rem;
        }
        
        &:hover{
            transform: scale(1.1);
        }
    }    
}

.section-rooms {
    background-color: $color-grey-light;
    padding: 15rem 0 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0 10rem 0;
    }
}

.section-events {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: fit-content;
    padding: 10rem;
    text-align: center;
    transition: all .2s;
    border-radius: 5rem;
    transform: translateX(15%);

    &--hover{
        position: absolute;
        margin: 0 auto;
        width: $events-width;
        height: $events-height;

        @include respond(big-desktop) {
            transform: translateX(-5%);
        }

        @include respond(tab-land) {
            transform: translateX(0%);
        }

        @include respond(tab-port) {
            transform: translateX(-10%);
        }

        @include respond(phone) {
            width: 40%;
            height: 50%;
            transform: translateX(-20%);
        }
        
        background-image: linear-gradient(360deg,
        rgba($color-white, 0.7),
        rgba($color-blue-light, 0.7)),
        url('../img/levelup.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all .2s;
        border-radius: 5rem;
        z-index: 1;
        
        &:hover{
            .btn__events{
                opacity: 0;
            }
            animation: closingRectangle 3s ease-in-out;
        } 
    }
}

.section-tournaments{
    font-family: Lato;
    height: 60rem;
    background-color: $color-white;
    clip-path: polygon(0 0, 50% 5%,100% 0, 100% 100%, 0 100%);
    padding-top: 6.5rem;

    @include respond(tab-land) {
        padding-top: 16rem;
        padding-bottom: 10rem;
        height: fit-content;
        clip-path: polygon(0 0, 50% 2%,100% 0, 100% 100%, 50% 102%, 0 100%);
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 50% 1%,100% 0, 100% 100%, 50% 101%, 0 100%);
    }

}

.section-booking{
    margin-top: 5rem;
    font-family: Lato;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(92, 91, 91);
    opacity: 80%;
    border-radius: 10px;

    @include respond(tab-land){
        width: 100%;
        border-radius: 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%,0 100%);
    }

    @include respond(tab-port){
        clip-path: polygon(0 3%, 100% 0, 100% 97%,0 100%);
    }
}