.section-rooms {
    background-color: $color-grey-light;
    padding: 15rem 0 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0 10rem 0;
    }
}

.section-tournaments{
    font-family: Play;
    height: 60rem;
    padding: 5rem 0;
    //background: linear-gradient(to right,$color-purple-dark 5%, rgb(92, 91, 91) 20%, black);
    background-color: rgb(92, 91, 91);
    clip-path: polygon(0 0, 50% 5%,100% 0, 100% 100%, 50% 105%, 0 100%);
    box-shadow: rgba($color-purple-light, 0.56) 100px 22px 70px 4px;

    @include respond(tab-land) {
        padding: 10rem 0;
        height: fit-content;
        clip-path: polygon(0 0, 50% 2%,100% 0, 100% 100%, 50% 102%, 0 100%);
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 50% 1%,100% 0, 100% 100%, 50% 101%, 0 100%);
    }

}

.section-booking{
    font-family: Play;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(92, 91, 91);
    opacity: 80%;
    border-radius: 10px;

    @include respond(tab-land){
        width: 100%;
        border-radius: 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%,0 100%);
    }

    @include respond(tab-port){
        clip-path: polygon(0 3%, 100% 0, 100% 97%,0 100%);
    }
}